@import './variables.scss';

.Container {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: map-get($spacing, lg);
  background-color: $darker-white;
}

.Grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: map-get($spacing, lg)
}