@import './variables.scss';

.Container {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: map-get($spacing, lg);
  background-color: $darker-white;
  display: grid;
  grid-template-rows: .7fr .3fr;
  gap: map-get($map: $spacing, $key: lg);

  @media(min-width: 1440px) {
    grid-template-columns: .7fr .3fr;
  }
}

.Grid {
  height: 100%;
  width: 100%;
  column-gap: map-get($spacing, lg);
  padding-top: 30px;
  margin-top: 60px;

  @media(min-width: 900px) {
    display: grid;
    grid-template-rows: 120px 1fr;
    margin-top: 0;
    padding-top: 0;
  }

  @media(min-width: 1440px) {
    grid-template-rows: none;
    grid-template-columns: 120px 1fr;
  }
}