@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $cadet-blue $darker-white;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $darker-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $cadet-blue;
    border-radius: 9px;
    border: 3px solid $darker-white;
  }
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  padding: 10px;
  padding-top: 0;
  background-color: $dark-blue;

  @media(min-width: 1440px) {
    padding: map-get($spacing, lg);
    padding-left: 0;
  }
}