/*=============================================
=                  Colors                     =
=============================================*/

/* Brand colors */
$dark-blue: #292c4a;

/* Neutral colors */
$white: #f5f7fb;


/*=====  End of Colors  ======*/



/*=============================================
=                 Spacing                     =
=============================================*/

$spacing: (
  none: 0rem,
  lg: 1.875rem)
  /*=====  End of Spacing  ======*/