/*=============================================
=                  Colors                     =
=============================================*/

/* Brand colors */
$midnight-blue: #1a2c43;
$dark-blue: #292c4a;
$slat-blue: #3e4b5d;
$cadet-blue: #97a5b5;
$light-blue: #63a1f0;

/* Neutral colors */
$darker-white: #f5f7fb;
$dark-white: #f9faff;
$white: #fefffe;

/* Shadows */
$bottom-shadow: 0px 49px 45px -11px rgba(245, 247, 251, 1);

/*=====  End of Colors  ======*/

/*=============================================
=                 Typography                  =
=============================================*/

/* Font sizes */
$font-sizes: (
  base: 1.25rem
);

/* Heading font sizes */

$h-1: 2rem;

/*=====  End of Typography  ======*/

/*=============================================
=                 Spacing                     =
=============================================*/

$spacing: (
  none: 0rem,
  lg: 1.875rem
);

/*=====  End of Spacing  ======*/