@import 'styles/variables.scss';

.ProductCard {
  background-color: $white;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    .ProductCard-icon__figure {
      fill: $light-blue;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    box-shadow: $bottom-shadow;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &__figure {
      width: 100%;
      height: 60%;
      transition: .3s ease;
    }
  }

  &-info {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: map-get($font-sizes, base);
      color: $slat-blue;
    }

    span {
      color: $cadet-blue;
      font-weight: 600;
      font-size: 14px;
    }
  }

}