@import '../../../styles/variables.scss';

.ProductCard {
  background-color: $white;
  border-radius: 20px;

  &-icon {
    display: inline-block;
    height: 200px;
    width: 100%;
    box-shadow: $bottom-shadow;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  p {
    font-weight: 500;
    padding: 20px 15px;
    font-size: map-get($font-sizes, base);
    color: $slat-blue;
  }
}