@import '../../../styles/variables.scss';

.ProductLine {
  box-shadow: $bottom-shadow;
  padding: 20px;
  margin-bottom: 30px;

  h3 {
    font-size: 16px;
    font-weight: 400;
  }

  p {
    font-size: 24px;
    font-weight: 600;
  }
}