@import 'styles/variables.scss';

.Select {
  position: relative;


  &-icon {
    position: absolute;
    top: 26px;
    left: 10px;
  }

  select {
    background-color: $white;
    padding: 20px;
    padding-left: 35px;
    font-size: 1.125rem;
    outline: 0;
    border: 0;
    border-radius: 30px;
    width: 100%;
    box-shadow: $bottom-shadow;
  }
}