@import '../../styles/variables.scss';

.Cashier {
  display: grid;
  grid-template-columns: .7fr .3fr;
  gap: map-get($map: $spacing, $key: lg);

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $slat-blue;
      font-size: $h-1;
    }

    time {
      color: $cadet-blue;
      font-size: map-get($font-sizes, base);
    }
  }

  aside {}
}