@import '../../styles/variables.scss';

.Cashier {
  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: map-get($map: $spacing, $key: lg);

    h1 {
      color: $slat-blue;
      font-size: $h-1;
    }

    time {
      color: $cadet-blue;
      font-size: map-get($font-sizes, base);
    }
  }
}