@import 'styles/variables.scss';

.Cart {
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr min-content;

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: map-get($spacing, lg);

    h2 {
      color: $midnight-blue;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  ul {
    list-style-type: none;
    max-height: 100%;
    overflow-y: auto;
  }
}