@import '../../../styles/variables.scss';

.Cart {
  background-color: $white;
  border-radius: 20px;
  padding: map-get($map: $spacing, $key: lg);

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: map-get($spacing, lg);

    button {
      background-color: $darker-white;
      outline: 0;
      border: none;
      padding: 10px 18px;
      border-radius: 50%;
      font-size: 20px;
      color: #fc4444;
      cursor: pointer;
    }
  }
}