@import '../../../styles/variables.scss';

.Cart {
  background-color: $white;
  border-radius: 20px;
  padding: map-get($map: $spacing, $key: lg);

  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: map-get($spacing, lg);

    h2 {
      color: $midnight-blue;
      font-size: 2rem;
      font-weight: 600;
    }
  }

  ul {
    list-style-type: none;
  }
}